export CLOUDSDK_CORE_PROJECT=pair-dance-370619
export GOOGLE_COMPUTE_ZONE=europe-west4

export GOOGLE_CLIENT_ID=$(gcloud secrets versions access latest --secret=LOCAL_GOOGLE_CLIENT_ID)
export GOOGLE_CLIENT_SECRET=$(gcloud secrets versions access latest --secret=LOCAL_GOOGLE_CLIENT_SECRET)
export LIVE_VIEW_SIGNING_SALT=$(gcloud secrets versions access latest --secret=LOCAL_LIVE_VIEW_SIGNING_SALT)
export PHOENIX_SESSION_SIGNING_SALT=$(gcloud secrets versions access latest --secret=LOCAL_PHOENIX_SESSION_SIGNING_SALT)
export JIRA_CLIENT_ID=$(gcloud secrets versions access latest --secret=JIRA_CLIENT_ID)
export JIRA_CLIENT_SECRET=$(gcloud secrets versions access latest --secret=JIRA_CLIENT_SECRET)
export JIRA_REDIRECT_URI="http://localhost:4000/auth/jira"

export CONTRACT_TEST_JIRA_BOARD_ID=$(gcloud secrets versions access latest --secret=CONTRACT_TEST_JIRA_BOARD_ID)
export CONTRACT_TEST_JIRA_BACKLOG_QUERY=$(gcloud secrets versions access latest --secret=CONTRACT_TEST_JIRA_BACKLOG_QUERY)
export CONTRACT_TEST_JIRA_REFRESH_TOKEN=$(gcloud secrets versions access latest --secret=CONTRACT_TEST_JIRA_REFRESH_TOKEN)
