export CLOUDSDK_CORE_PROJECT=pair-dance-370619

export GOOGLE_CLIENT_ID=$(gcloud secrets versions access latest --secret=LOCAL_GOOGLE_CLIENT_ID)
export GOOGLE_CLIENT_SECRET=$(gcloud secrets versions access latest --secret=LOCAL_GOOGLE_CLIENT_SECRET)
export LIVE_VIEW_SIGNING_SALT=$(gcloud secrets versions access latest --secret=LOCAL_LIVE_VIEW_SIGNING_SALT)
export PHOENIX_SESSION_SIGNING_SALT=$(gcloud secrets versions access latest --secret=LOCAL_PHOENIX_SESSION_SIGNING_SALT)
