export CLOUDSDK_CORE_PROJECT=pair-dance-370619

export GOOGLE_CLIENT_ID=$(gcloud secrets versions access latest --secret=LOCAL_GOOGLE_CLIENT_ID)
export GOOGLE_CLIENT_SECRET=$(gcloud secrets versions access latest --secret=LOCAL_GOOGLE_CLIENT_SECRET)
