<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · PairDance">
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-ghost text-gloom antialiased">
    <main class="py-10">
      <div class="mx-auto max-w-6xl">
        <.flash kind={:info} title="Success!" flash={@flash} />
        <.flash kind={:error} title="Error!" flash={@flash} />
        <.flash
          id="disconnected"
          kind={:error}
          title="We can't find the internet"
          close={false}
          autoshow={false}
          phx-disconnected={show("#disconnected")}
          phx-connected={hide("#disconnected")}
        >
          Attempting to reconnect
          <Heroicons.arrow_path class="ml-1 w-3 h-3 inline animate-spin" />
        </.flash>
        <.link href={~p"/"} class="button"><h1 class="text-3xl mb-10">Pair Dance</h1></.link>
        <%= @inner_content %>
      </div>
    </main>
  </body>
  <footer class="text-center">
    <p class="text-xs">Pair.dance 2023, Tres Amigos production, source code on <a href="https://github.com/TresAmigosLtd/pair_dance">Github</a>❤️</p>
  </footer>
</html>
