<div id="lists" class="grid sm:grid-cols-1 md:grid-cols-3 gap-2">
  <.live_component
    id="1"
    module={PairDanceWeb.AppLive.TeamPage.ListComponent}
    list={@shopping_list}
    list_name="Grocery"
  />
  <.live_component
    id="2"
    module={PairDanceWeb.AppLive.TeamPage.ListComponent}
    list={@shopping_list}
    list_name="Housebuilding"
  />
</div>
