<div
  data-qa="member-avatar"
  data-user-id={@member.user.id}
  class="w-[96px] h-[96px] relative cursor-pointer"
>
  <img alt="" src={@member.user.avatar || "/images/avatar.jpeg"} referrerpolicy="no-referrer" />
  <span class="absolute bottom-0 left-0 right-0">
    <%= @member.user.name || @member.user.email %>
  </span>
</div>
