<h1 class="text-2xl font-bold my-5">Daily Pair Dance for Team <%= @team.name %></h1>

<.live_component id="1" team={@team} module={PairDanceWeb.AppLive.TeamPage.PairingTableComponent} />

<.live_component
  id={1}
  module={PairDanceWeb.AppLive.TeamPage.CreateTaskComponent}
  team={@team}
  action={:new}
/>

<h2>
  Team members:
</h2>
<ul>
  <%= for member <- @team.members do %>
    <li><%= member.user.email %></li>
  <% end %>
</ul>
