<h2>
    Team members:
</h2>
<ul>
    <%= for member <- @team.members do %>
    <li><%= member.user.email %></li>
    <% end %>
</ul>

<h2>
    Tasks:
</h2>
<ul>
    <%= for task <- @team.tasks do %>
    <li><%= task.name %></li>
    <% end %>
</ul>

<.live_component
id={1}
module={PairDanceWeb.AppLive.TeamPage.CreateTaskComponent}
team={@team}
action={:new}
/>

<.live_component id="1" module={PairDanceWeb.AppLive.TeamPage.ShoppingListComponent} />
